body{
  background-color: #fff;
}
#hostel-g,
#sports-g,
#onam-g,
#ap-g,
#aakriti-g,
#workshop-g{
  background-color: #fff;
  top:0;
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hi-slide{
  position: relative;
  width: 754px;
  height: 292px;
  border-radius: 50px;
  /* margin: 115px auto 0; */
}
.hi-slide .hi-next,.hi-slide .hi-prev{
  position: absolute;
  top: 37%;
  width: 40px;
  height: 40px;
  margin-top: -20;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #22313f;
  background-color: white;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: bold;
}
.hi-slide .hi-next:hover,.hi-slide .hi-prev:hover{
  opacity: 1;
  background-color: white;
}
.hi-slide .hi-prev{
  left: -60px;
}
.hi-slide .hi-next{
  right: -60px;
}
.hi-slide .hi-prev::before{
  content:'<';
}
.hi-slide .hi-next::before{
  content:'>';
}
.hi-slide > ul{
  list-style: none;
  position: relative;
  width: 100%;
  height: 292px;
  margin: 0;
  padding: 0;

}
.hi-slide > ul > li{
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  width: 0;
  height: 0;
  top: 147px;
  /* border: 3px solid white; */
  background-color: #333;

}
.hi-slide > ul > li > img{

  width: 100%;
  height: 100%;
  background-position: center;

}
h1{
  font-size: 50px;
  font-family: 'Lexend Deca',sans-serif;
}